<hr/>
<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">

    <label for="firstName">First Name : </label>
    <input type="text" name="firstName" placeholder="Nom" formControlName="firstName">
    <p *ngIf="firstName?.dirty && firstName?.hasError('required')">
        Firstname is required
    </p>
    <p *ngIf="firstName?.dirty && firstName?.hasError('minlength') || firstName?.hasError('maxlength')">
        Firstname must be between 3 and 20 characters.
    </p><hr/>

    <label for="lastName">Last Name : </label>
    <input type="text" name="lastName" placeholder="Prénom" formControlName="lastName">
    <p *ngIf="lastName?.dirty && lastName?.hasError('required')">
        LastName is required.
    </p>
    <p *ngIf="lastName?.dirty && lastName?.hasError('minlength') || lastName?.hasError('maxlength')">
        LastName must be between 3 and 20 characters.
    </p><hr/>

    <label for="email">Email : </label>
    <input type="text" name="email" placeholder="email" formControlName="email">
    <p *ngIf="email?.dirty && email?.hasError('required')">
        Email is required.
    </p>
    <p *ngIf="email?.dirty && email?.hasError('email')">
        The email must be correctly formatted.\n
        Ex: Jeandu13@live.fr
    </p><hr/>

    <label for="team">Team : </label>
    <select name="team" id="team" formControlName="team">
        <option value="">--Please choose an option--</option>
        <option value="equipe1">equipe1</option>
        <option value="equipe2">equipe2</option>
    </select>
    <p *ngIf="team?.dirty && team?.hasError('required')">
        Select a team.
    </p><hr/>

    <label for="skills">Skills : </label>
    <ul formArrayName="skills" name="skills" *ngFor="let skill of skills.controls; let i = index; trackBy: trackByFunction">
        <li>
            <label>{{ i }}</label>
            <input type="text" placeholder="Nouveau skill" [formControlName]="i" [value]="skill.value">
            <p *ngIf="skill?.dirty && skill?.hasError('required')">
                Ex: Fishing with explosive.
            </p>
            <button mat-raised-button type="button" (click)="removeSkill(i)">remove Skill</button>
        </li>
    </ul><hr/>

    <button mat-raised-button color="secondary" type="button" (click)="addSkill()">Ajouter un skill</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid"> valider</button>
</form>
