<li [class]="getItemVariant()">
  <input matInput placeholder="Ex: Faire le menage" [(ngModel)]="task.title">
  <a [routerLink]="['/todolist', task.id]">
    <div>
      <p>
        {{ task.id }} : {{ task.title }} :
        <span [class]="getBadgeVariant()">{{ getComplete() }}</span>
      </p>
      <p>{{task.description}}</p>
      <p>{{ task.created | date:'dd/MM/y hh:mm' }}</p>
    </div>
  </a>
  <button mat-raised-button color="basic" (click)="toggleComplete()">{{ getButtonText() }}</button>
</li>
