<ul>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="login">Authentification</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="todolist">Liste de taches</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="taskform">Creer une tache</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="userlist">Liste d'utilisateurs</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="userform">Creer un utilisateur</a>
  </li>
</ul>
<app-logout></app-logout>
